<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>
<h1>Your Pragmatic Catalog</h1>
<% if @highlighted_item %>
<%= render @highlighted_item %>
<% end %>
<ul class="catalog">
  <% cache @products do %>
    <%= render @products %>
  <% end %>
</ul>
